{% extends 'app01/index.html' %}

{% block page-content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
    <h1>登录页面</h1>
        <form action="{% url 'login' %}" method="post" accept-charset="utf-8" enctype="multipart/form-data" >
            {% csrf_token %}
            <p>username:<input type="text" name="username" id="username" placeholder="请输入用户名 " ></p>
                <br>
            <p>password:<input type="password" name="password" id="passname" placeholder="登录密码"></p>
                <br>
                <input type="submit" class="submit" value="登录">
          </form>
    <a href="/register/">注册</a>
</body>
</html>

{% endblock %}